[Unit]
Description=Run Service Monitor every 30 seconds

[Timer]
OnBootSec=1min
OnUnitActiveSec=30s
AccuracySec=5s
Persistent=true
Unit=service-monitor.service

[Install]
WantedBy=timers.target
