[Unit]
Description=Timer for service-monitor
Requires=service-monitor.service

[Timer]
# Wait this long after boot before the first run
OnBootSec=1min
# Run again this long after the previous activation
OnUnitActiveSec=90s
Unit=service-monitor.service

[Install]
WantedBy=timers.target